body{
  width: 800px;
  margin: auto;
   }
.button {
  border-radius: 4px;
 background-color:#008CBA;
 border: none;
 color: white;
 padding: 12px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 margin: 4px 2px;
 cursor: pointer;

}
.textarea{
  min-width: 400px;
  min-height: 100px;
}
.top{
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}
.textareaNote{
  width: 400px;
}